// Test: Simple loop counting from 0 to 5
function Main.main 1
    push constant 0
    pop local 0        // local[0] = 0 (counter)

label LOOP_START
    push local 0
    push constant 5
    eq
    if-goto LOOP_END

    push local 0
    push constant 1
    add
    pop local 0        // counter++

    goto LOOP_START

label LOOP_END
    push local 0       // Final value (5) on stack
    return
